$green:     #95e000;
$blue:      #89d1df;
$black:     rgb(67, 72, 74);
$grey:      #c8cbd5;

$primary:   $green;
$secondary: $blue;

$body-color: $black;

$button-border-radius: 0;
$button-padding: 0.333em 1em;
