@import 'variables';

footer#footer {
  text-align: center;
  color: $grey;
  margin: 0 0 50px;
  font-size: 0.9rem;

  svg {
    max-height: 2.0rem;
    max-width: 6rem;
    transform: translate(0, 35%);
    margin: 0 0.5rem;
  }
}
