$line-height: 30px;

section#phrases {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 40px 0 80px;
  .line {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .phrase1 {
    font: normal 43px/#{$line-height} Lato;
  }
  /* we */
  .phrase2 {
    font: bold 43px/#{$line-height} "Titillium Web";
  }
  /* create partnerships */
  .phrase3 {
    font: normal 43px/#{$line-height} Lato;
  }
  /* with our clients to solve */
  .phrase4 {
    font: bold 43px/#{$line-height} "Titillium Web";
  }
  /* real */
  .phrase5 {
    font: bold 36px/#{$line-height} "Titillium Web";
  }
  /* challenges */
  .phrase6 {
    font: normal 36px/#{$line-height} Lato;
  }
  /* using */
  .phrase7 {
    font: bold 36px/#{$line-height} Arvo;
  }
  /* digital media */
  .phrase8 {
    font: normal 36px/#{$line-height} Lato;
  }
  /* our */
  .phrase9 {
    font: normal 36px/#{$line-height} Arvo;
  }
  /* passion */
  .phrase10 {
    font: normal 36px/#{$line-height} Lato;
  }
  /* for */
  .phrase11 {
    font: lighter 36px/#{$line-height} Lato;
    text-transform: uppercase;
  }
  /* design */
  .phrase12 {
    font: normal 36px/#{$line-height} Lato;
  }
  /* & */
  .phrase13 {
    font: normal 44px/#{$line-height} Arvo;
    text-transform: uppercase;
  }
  /* technology */
  .phrase14 {
    font: lighter 55px "Titillium Web";
  }
  /* inspires us to */
  .phrase15 {
    font: normal 55px "Titillium Web";
  }
  /* communicate */
  .phrase16 {
    font: normal 66.3px "Titillium Web";
    color: #95e000;
  }
  /* simply */
  .phrase17 {
    font: bold 66.3px Arvo;
    color: #95e000;
  }
  /* effectively */
  .phrase18 {
    font: lighter 66.3px Lato;
    color: #95e000;
  }
  /* and beautifully */
  .phrase16,
  .phrase17,
  .phrase18 {
    text-shadow: -1px 0 1px white, 0 1px 1px white, 1px 0 1px white, 0 -1px 1px white, 1px 1px 1px white, 1px -1px 1px white, -1px 1px 1px white, -1px -1px 1px white, -3px 0 3px rgba(149, 224, 0, 0.3), 0 3px 3px rgba(149, 224, 0, 0.3), 3px 0 3px rgba(149, 224, 0, 0.3), 0 -3px 3px rgba(149, 224, 0, 0.3), 3px 3px 3px rgba(149, 224, 0, 0.3), 3px -3px 3px rgba(149, 224, 0, 0.3), -3px 3px 3px rgba(149, 224, 0, 0.3), -3px -3px 3px rgba(149, 224, 0, 0.3);
  }
  @media only screen and (max-width: 1023px) {
    padding: 33px 0 66px;

    .phrase1,
    .phrase2,
    .phrase3,
    .phrase4 {
      font-size: 33px;
    }

    .phrase10,
    .phrase5,
    .phrase6,
    .phrase7,
    .phrase8,
    .phrase9 {
      font-size: 34px;
    }

    .phrase11,
    .phrase12,
    .phrase13,
    .phrase14,
    .phrase15 {
      font-size: 31px;
    }

    .phrase16,
    .phrase17,
    .phrase18 {
      font-size: 50px;
    }
  }
  @media only screen and (max-width: 767px) {
    padding: 30px 0 60px;

    .phrase1,
    .phrase2 {
      font-size: 30px;
    }

    .phrase3,
    .phrase4 {
      font-size: 25px;
    }

    .phrase5,
    .phrase6,
    .phrase7 {
      font-size: 21px;
    }

    .phrase8 {
      text-transform: uppercase;
      font-size: 35.2px;
    }

    .phrase10,
    .phrase9 {
      font-size: 44px;
    }

    .phrase11,
    .phrase12,
    .phrase13 {
      font-size: 25px;
    }

    .phrase14,
    .phrase15 {
      font-size: 27px;
    }

    .phrase16,
    .phrase17,
    .phrase18 {
      font-size: 50px;
      display: block;
      margin: 0 auto;
    }
  }
}
